# 사용 패키지

In [1]:
import pandas as pd
import numpy as np
import json

# 데이터 로드

In [2]:
with open('data/test.jsonl', "r", encoding="utf-8") as f:
    jsonl = list(f)

test_data = []
for json_str in jsonl:
    test_data.append(json.loads(json_str))
    
submission = pd.read_csv('data/sample_submission.csv')

In [3]:
test_data[0]

{'id': '368851881',
 'article_original': ['한국은행이 지난달 기준금리를 추가 인하한 영향으로 대출금리가 일제 하락했다.',
  '특히 기업대출금리는 1996년 관련 통계 집계 이후 가장 낮은 수준까지 하락했다.',
  "한국은행이 28일 발표한 '2019년 10월 중 금융기관 가중평균금리'에 따르면 신규취급액 기준 지난달 예금은행의 대출평균금리는 연 3.20%로 전월 대비 0.11%포인트 하락했다.",
  '대출금리를 기업과 가계로 나눠보면 기업대출금리 하락폭이 가팔랐다.',
  '10월 기업대출금리는 연 3.28%로 전월 대비 0.14%포인트 떨어졌다.',
  '연 3.28%는 1996년 1월 관련 통계 작성 이후 최저치다.',
  '대기업의 경우 기준이 되는 단기지표 금리의 하락 영향으로 10월 대출금리가 연 3.13%로 전월 대비 0.17%포인트 빠졌다.',
  '중소기업은 일부 은행의 저금리 대출 취급 등의 영향으로 연 3.39%로 0.11%포인트 하락했다.',
  '한은 관계자는 "지난달 기준금리가 인하되면서 단기 지표에 영향을 많이 받는 기업대출 금리도 역대 최저 수준으로 하락했다"고 설명했다.',
  '같은 기간 가계대출 금리도 하락했다.',
  '10월 가계대출 금리는 연 3.01%로 전월 대비 0.01%포인트 하락했다.',
  '같은 기간 주택담보대출 금리도 연 2.50%로 0.01%포인트 떨어졌다.',
  '가계대출 금리의 경우 기업대출에 비해 장기지표 영향을 많이 받아 하락폭은 작았다.',
  '한편 10월 중 비은행금융기관 예금금리(1년만기 정기예탁금 기준)는 모두 하락했고 대출금리(일반대출 기준)는 상호저축은행은 상승, 상호금융은 하락했다.'],
 'media': '아시아경제'}

## 요약문 생성 및 제출

자연어 생성 모델을 베이스라인으로 제공하기에 장시간의 학습시간을 필요로 하여 간단한 규칙기반 요약문 생성하였습니다.

BART, GPT 등 자연어 생성 모델을 활용을 추천드리고 베이스라인은 데이터로드 부터 제출하는 과정의 용도로 참고해주시기 바랍니다.

In [5]:
for data in test_data:
    did = int(data['id'])
    summary = data['article_original'][0] + data['article_original'][-1]
    idx = submission[submission['id']==did].index
    submission.loc[idx, 'summary'] = summary

In [6]:
submission

             id                                            summary
0     250366726  가학리 주민들 호소문 통해 입장 전달 “텅텅 빈 산업단지 두고 왜 민가 근처에…”임...
1     251994086  10대 때부터 써온 한시 “옛 것 사라지는 것 아쉬워”김예나 yena0808@han...
2     252639804  당진서 군복무하며 인연 맺어 “당진시대는 훌륭한 지역의 소식통”이영민 erfgp92...
3     252639915                     진옥성결교회김예나 yena0808@hanmail.net
4     253427793  이달 중 청년정책네트워크 구성해 본격 논의 면접 서비스, 청년 사회적기업 창업 지원...
...         ...                                                ...
4156  372705621  울산경찰청은 31일 자정을 기준으로 '2020년 운전면허 행정처분 특별감면'을 실시...
4157  372751633   디지털뉴스부2010년 캔 정규앨범 7.5집 《Special Edition》까지 발매했다
4158  372770123  제주관광공사 관광객 신용카드 매출 빅데이터 분석한편, 제주관광공사는 국내 높은 시장...
4159  372779075                                   박길수 기자/임실=박길수 기자
4160  372779090                                      박상래 기자/박상래 기자

[4161 rows x 2 columns]

In [7]:
submission.to_csv('baseline.csv', index=False)